<header>
<div class="header_card">
  <mat-icon class="user_icon">supervised_user_circle</mat-icon>
 <p class="logo_title"> Users</p>
</div>
</header>

<main>

  <div class="users_list">
      <div *ngFor="let each of users; let i=index" class="users">
        <mat-card class="example-card">
          <mat-card-header class="card_header">
            <div mat-card-avatar class="example-header-image">
              <mat-icon>supervised_user_circle</mat-icon>
            </div>
            <mat-card-title >{{each.real_name}}</mat-card-title>
            <mat-card-subtitle>{{ each.tz }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/user.svg" alt="user image" class="card_image">
          <mat-card-content>
            <button (click)="LoaduserActivity(i)" class="btn-card">View Activities</button>
          </mat-card-content>
        </mat-card>
      </div>
  </div>

  <div *ngIf="showModal" class="modal">
      <div class="inner_modal">
        <div class="close_modal" (click)="closeModal()">X</div>
     
        <mat-form-field appearance="fill">
          <mat-label>Select Date</mat-label>
          <input matInput [matDatepicker]="picker"
          (dateInput)="addEvent('input', $event)"   (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
            <div *ngIf="noActivity">
              No Activities
            </div>
            <div *ngFor="let each of required_timings">
              <tr class="lines">
                <td>
                  Was Active from &nbsp;&nbsp;
                </td>
                <td>
                  {{each.start_time}} &nbsp;&nbsp;to&nbsp;&nbsp;
                </td>
                <td>
                  {{each.end_time}}
                </td>
              </tr><br>
              </div>
      </div>
  </div>
</main>


<footer>

</footer>